#titleArea{
    margin-left: auto;
    margin-right:auto;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#outputBox{
    width: 100%;
    overflow: auto;
}

#inputArea{
    text-align: center;
}

#goButton{
    margin-left: auto;
    margin-right: auto;
}

#inputList{
    list-style: none;
}